@charset "utf-8";
.basic {
  background-color: var(--light-bg-color);
}

/***** first-page *****/

main .first-page-container {
  position: relative;
  top: 0;
  width: 100%;
  height: 92vh;
  overflow: hidden;
  border-radius: 0 0 80px 80px;
  transition: 2s;
}
/* img */

main .first-page-container .img-wrapper{
  position: absolute;
  z-index: 999;
  width: 100%;
  height: 100%;
  top: 0;
}
/* text */

main .first-page-container .text-wrapper {
  z-index: 9999;
  transition: 2s;
  width: 1050px;
  height: 220px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%,0%);
  border-radius: 40px;
  margin-bottom: 2.083vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .first-page-container .text-wrapper .text-inner {
  width: 100%;
  position: relative;
  padding: var(--big-padding);
}
main .first-page-container .text-wrapper .text-inner h5 {
  font-family: var(--eng-font);
  font-weight: 500;
}
main .first-page-container .text-wrapper .text-inner h4{
  font-family: var(--eng-font);
  margin: 20px 0;
  font-weight: bold;
}
/* button */

main .first-page-container .text-wrapper .text-inner .button-inner {
  line-height: 70px;
  text-align: center;
  position: absolute;
  bottom: 2.083vw;
  right: 2.083vw;
  width: 180px;
  height: 70px;
  border-radius: var(--inner-border);
  background-color: var(--black-color);
  color:var(--white-color);
  font-style: var(--p-font-size);
}

/***** second-page *****/

main .second-page-container {
  position: relative;
  background-color: #fff;
  padding: var(--page-padding);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  border-radius: 0 0 80px 80px;
}

main .second-page-container .txt-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 700px;
}
main .second-page-container .txt-wrapper p {
  font-weight: 300;
  display: block;
}
main .second-page-container .txt-wrapper .block {
  height: 30px;
}
main .second-page-container .txt-wrapper h3 {
  font-family: var(--eng-font);
}
main .second-page-container .video-wrapper {
  overflow: hidden;
  width: 580px;
  height: 580px;
  border-radius: 400px 0 40px 0;
  background-color: #ddd;
  position: relative;
}
main .second-page-container .video-wrapper iframe {
  pointer-events: none;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%,-10%) scale(220%);
}

main .third-page-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: var(--light-bg-color);
}
main .third-page-container .circle-wrapper{
  position: absolute;
  top:50%;
  left:50%;
  width: 1500px;
  aspect-ratio: 1;
  transform: translate(-50%,-50%);
  border: 1px solid black;
  border-radius: 50%;
  text-indent: -9999px;
  transition: 1s;
}
main .third-page-container .text-wrapper {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}
main .fourth-page-container {
  height: 100vh;
  position: relative;
  width: 100%;
}